div.DataContainer {
  display: flex;
  align-items: flex-start;

  justify-content: space-between;
  padding: 10px 200px;
}

.darkBackground td{
  background: rgb(240, 240, 240);
}

.ScramButton {
  position: fixed;
  bottom: 20px;
  left: 40%;
  width: 20%;
  height: 10%;
}

table.DataTable {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
  border-collapse: collapse;
}

table.DataTable td {
  text-align: center;
}
