html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  background-color: #1f1f1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#title {
  color: #f2f2f2;
  margin-left: 20px;
  font-family: Arial;
}

.navContainer {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  min-width: 1200px;
}

.navContainer p {
  float: left;
  color: #d6d6d6;
  text-align: center;
  padding: 14px 100px;
  margin: 0;
  font-size: 20px;
  font-family: Arial;
  font-weight: 700;
}

.navContainer p:hover {
  color: #333;
  background-color: #d6d6d6;
}

.pageContainer {
  height: 100%;
  margin: 0;
}

.reactorPage {
  /* Don't set display: none; since this is default page */
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  display: none;
  flex-direction: column;
}

.boilerPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
}

.turbinePage {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f350f1;
}

.inductionPage {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #a2f724;
}

div.DataContainer {
  display: flex;
  align-items: flex-start;

  justify-content: space-between;
  padding: 10px 200px;
}

.darkBackground td{
  background: rgb(240, 240, 240);
}

.ScramButton {
  position: relative;
  bottom: 20px;
}

table.DataTable {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
  border-collapse: collapse;
}

table.DataTable td {
  text-align: center;
}

svg {
  margin-top: -60px;
}

#graphUnit {
  color: #FFFFFF;
  font-style: italic;
  opacity: 0.4;
  display: inline-block;
}

#graphHeader {
  color: #FFFFFF;
  font-style: italic;
  opacity: 0.4;
  float: right;
  display: inline-block;
  margin-right: 30px;
}

.lowerSection {
  margin-top: auto;
  margin-bottom: 30px;
  padding: 35px;
  display: flex;
  justify-content: space-between;
}

.upperSection {
  width: 100%;
}

.statisticLine p {
  color: #d6d6d6;
  display: inline-block;

  font-size: 15px;
  font-weight: 700;
  font-family: serif;
  font-style: italic;
}

#statisticLineHeader {
  font-size: 18px;
  font-family: sans-serif;
  font-style: normal;
}

.statisticContainer {
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  padding: 20px 20px 0px 20px;
  background-color: #333;
}

.statisticContainer p {
  margin-top: 0px;
}

.burnrateContainer {
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  padding: 20px 20px 0px 20px;
  background-color: #333;
}

.burnrateContainer input {
  margin-bottom: 36px;
  width: 200px;
  height: 50px;
  border: 0px;
  border-radius: 5px;

  color: #333;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  font-style: normal;
}

.burnrateContainer button {
  width: 180px;
  height: 40px;
  margin-left: 30px;
  border-radius: 25px;
  border: 2px white solid;

  color: white;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-style: normal;
  background-color: grey;
}

#reactorToggleButton {
  width: 180px;
  height: 40px;
  margin-bottom: 18px;
  border-radius: 0px;
  border: 1px white solid;

  color: white;
  text-align: center;
  font-size: 18px;
  font-family: sans-serif;
  font-style: normal;
  background-color: red;
}

.burnrateContainer p {
  margin-top: 0px;
}

#statusValue {
  font-style: normal;
  color: #00ab1c;
}
